Package: sheltermanager
Version: 2.5.2
Section: contrib
Priority: optional
Architecture: i386
Essential: no
Depends: menu, sun-java6-jre, xulrunner-1.9
Suggests: openoffice.org-writer
Installed-Size: 33864
Maintainer: Robin Rawson-Tetley [robin@rawsontetley.org]
Provides: sheltermanager
Description: Management solution for animal shelters and sanctuaries
 Animal Shelter Manager is the most popular, free management package
 for animal sanctuaries and welfare charities.
